.img{
  width: 100%;
  height: 100vh;
  position:relative;
}
.p{
  color: white;
  font-size: 32px;
  position: absolute;
  background-color: black;
}
#planet1{
  top: 85%;
  left: 40%;
}
#planet2{
  top: 41%;
  left: 51%;
}
#planet3{
  top: 55%;
  left: 79%;
}

