.boxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 2;
  /* margin-top: 270px; */
}
.box {
  width: 800px;
  height: 500px;
  background-color: rgba(69, 36, 77, 0.9);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    135deg,
    rgba(69, 36, 77, 0.8),
    rgba(100, 45, 90, 0.8)
  );
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  font-size: 20px;
  color: white;
}
.NamePosition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Exo {
  font-size: 144px;
  color: yellow;
  text-transform: uppercase;
}
.explore {
  color: transparent;
  -webkit-text-stroke: 1px yellow;
  font-size: 144px;
  text-transform: uppercase;
  margin-top: 300px;
}
.lineContainer {
  display: flex;
  margin-top: 100px;
  align-items: center;
  position: absolute;
  top: 40px;
}
.line {
  border: none;
  border-top: 5px solid yellow;
  width: 230px;
  margin-top: 100px;
}

.ButtonLeft {
  position: absolute;
  top: 250px;
  background-color: transparent;
  border: none;
  color: yellow;
  font-weight: bold;
  cursor: pointer;
}
.ButtonLeft:hover {
  color: rgb(218, 90, 111);
}

h1 {
  color: rgba(240, 248, 255);
  margin-left: 25px;
  font-size: 80px;
  letter-spacing: 1px;
  
}

p {
  letter-spacing: 1px;
  line-height: 30px;
  color: rgba(240, 248, 255, 0.734);
}
