.container_img {
  height:100vh;
  width: 100%;
  position:fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.img_back {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -1;
  object-fit: cover;
}

