.nav_list {
  margin-left: 150px;
  display: flex;
  list-style: none;
}
.ListContainer {
  margin: 0px 20px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 20px;
  color: rgb(222, 222, 222);
  cursor: pointer;
}
.ListContainer:hover {
  color: rgb(218, 90, 111);
}